In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
training_x=pd.read_csv('airbnb_train_x.csv')
training_y=pd.read_csv('airbnb_train_y.csv')
test_x=pd.read_csv('airbnb_test_x.csv')

/Users/katie/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (2,4,6,7,8,10,11,28,35,43,45,69) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
training_x['label']= 'train'
test_x['label']= 'test'
df = pd.concat([training_x,test_x],axis=0,ignore_index=True)

In [4]:
df.isnull().sum().sort_values(ascending=False)

square_feet                         110430
host_acceptance_rate                102956
license                              96239
monthly_price                        89067
weekly_price                         85144
jurisdiction_names                   59155
notes                                54567
is_business_travel_ready             50116
security_deposit                     45782
interaction                          40317
access                               38757
neighborhood_overview                34575
host_about                           34528
house_rules                          34105
transit                              32772
space                                23689
cleaning_fee                         20636
host_neighbourhood                   19344
host_response_rate                   17775
host_response_time                   17775
neighbourhood                        15158
summary                               3349
zipcode                               1182
market                                 485
host_location                          469
bathrooms                              282
host_identity_verified                 171
host_name                              169
host_listings_count                    166
host_since                             163
                                     ...
require_guest_profile_picture           22
requires_license                        22
room_type                               22
require_guest_phone_verification        22
price                                   22
is_location_exact                       22
street                                  22
instant_bookable                        14
longitude                               12
host_verifications                      11
latitude                                11
maximum_nights                          11
minimum_nights                          11
first_review                            10
country_code                             9
experiences_offered                      3
city_name                                2
country                                  1
bed_type                                 1
accommodates                             0
availability_365                         0
amenities                                0
availability_30                          0
label                                    0
availability_60                          0
availability_90                          0
cancellation_policy                      0
extra_people                             0
guests_included                          0
Unnamed: 0                               0
Length: 71, dtype: int64

# Amenities

In [5]:
df.amenities=df.amenities.fillna(df['amenities'].mode()[0])

a_dict = {}
for index, row in df.iterrows():
    amenities = row.amenities
    values = amenities[1:-1].split(',')
    for i in values:
        i=i.strip().lower()
        if i=='':
            continue
        if 'missing' in i:
            continue
        if i.startswith('"'):
            i=i[1:]
        if i.endswith('"'):
            i=i[:-1]
        if i not in a_dict:
            a_dict[i]=1
        else:
            a_dict[i]=a_dict[i]+1
                  

keys = sorted(a_dict, key=a_dict.get, reverse=True)
o_dict={}
for key in keys:
    o_dict[key]=[]
    
for index, row in df.iterrows():
    amenities = row.amenities
    values = amenities[1:-1].split(',')
    values_n = []
    for i in values:
        i=i.strip().lower()
        if i=='':
            continue
        if 'missing' in i:
            continue
        if i.startswith('"'):
            i=i[1:]
        if i.endswith('"'):
            i=i[:-1]
        if values_n==[]:
            values_n=[i]
        else:
            values_n.append(i)
    for j in o_dict:
        if j in values_n:
            if o_dict[j]==[]:
                o_dict[j]=['1']
            else:
                o_dict[j].append('1')
                
        else:
            if o_dict[j]==[]:
                o_dict[j]=['0']
            else:
                o_dict[j].append('0')
                
df_a = pd.DataFrame(o_dict)
df = pd.concat([df, df_a], axis=1)

# host_verifications

In [6]:
df.host_verifications=df.host_verifications.fillna(df['host_verifications'].mode()[0])


a_dict = {}
for index, row in df.iterrows():
    veri = row.host_verifications
    if type(veri) is float:
        continue
    values = veri[1:-1].split(',')
    for i in values:
        i=i.strip().lower()[1:-1]
        if i not in a_dict:
            a_dict[i]=1
        else:
            a_dict[i]=a_dict[i]+1
                  

keys = sorted(a_dict, key=a_dict.get, reverse=True)
o_dict={}
for key in keys:
    o_dict[key]=[]
    
for index, row in df.iterrows():
    veri = row.host_verifications
    if type(veri) is float:
        continue
    values = veri[1:-1].split(',')
    values_n = []
    for i in values:
        i=i.strip().lower()[1:-1]
        if values_n==[]:
            values_n=[i]
        else:
            values_n.append(i)
    for j in o_dict:
        if j in values_n:
            if o_dict[j]==[]:
                o_dict[j]=['1']
            else:
                o_dict[j].append('1')
                
        else:
            if o_dict[j]==[]:
                o_dict[j]=['0']
            else:
                o_dict[j].append('0')
                
df_a = pd.DataFrame(o_dict)
df = pd.concat([df, df_a], axis=1)

## access

In [7]:
df.access=[(len(str(df.access[x]).split(' '))) for x in np.arange(len(df))]

In [8]:
df.access.head()

0    22
1     1
2    27
3    80
4    26
Name: access, dtype: int64

In [9]:
# access column: convert to 0-1 variable,1: has access description 
# df.access=df.access.fillna(0)
# df.access[df.access!=0]=1

## notes

In [10]:
## notes 
df.notes=[(len(str(df.notes[x]).split(' '))) for x in np.arange(len(df))]

In [11]:
# notes column: convert to 0-1 variable,1: has notes 
# df.notes=df.notes.fillna(0)
# df.notes[df.notes!=0]=1

## house_rules

In [12]:
df.house_rules=[(len(str(df.house_rules[x]).split(' '))) for x in np.arange(len(df))]

In [13]:
# house_rules column: convert to 0-1 variable,1: has house_rules
# df.house_rules=df.house_rules.fillna(0)
# df.house_rules[df.house_rules!=0]=1

## host_about

In [14]:
df.host_about=[(len(str(df.host_about[x]).split(' '))) for x in np.arange(len(df))]

In [15]:
# host_about column: convert to 0-1 variable,1: has host description 
# df.host_about=df.host_about.fillna(0)
# df.host_about[df.host_about!=0]=1

## transit

In [16]:
df.transit=[(len(str(df.transit[x]).split(' '))) for x in np.arange(len(df))]

In [17]:
df.transit.head()

0     1
1     1
2    66
3    63
4    37
Name: transit, dtype: int64

In [18]:
# transit column: convert to 0-1 variable,1: has transit description
# df.transit=df.transit.fillna(0)
# df.transit[df.transit!=0]=1

## interaction

In [19]:
df.interaction=[(len(str(df.interaction[x]).split(' '))) for x in np.arange(len(df))]

In [20]:
# interaction column: convert to 0-1 variable,1: has interaction 
# df.interaction=df.interaction.fillna(0)
# df.interaction[df.interaction!=0]=1

## description

In [21]:
df.description=[(len(str(df.description[x]).split(' '))) for x in np.arange(len(df))]

In [22]:
# description column: convert to 0-1 variable,1: has interaction 
# df.description=df.description.fillna(0)
# df.description[df.description!=0]=1

## summary

In [23]:
df.summary=[(len(str(df.summary[x]).split(' '))) for x in np.arange(len(df))]

In [24]:
# summary column: convert to 0-1 variable,1: has summary
#df.summary=df.summary.fillna(0)
#df.summary[df.summary!=0]=1

## wrong rows
- There're 9 wrong rows in training set and 2 records in testing set 
- We drop the 9 rows in training set and the 2 rows in testing set
- And we'll assign label to the 2 rows in testing set manually in the end

In [25]:
# bed_type: groupby
df.bed_type.value_counts()

Real Bed         109361
Futon              1120
Pull-out Sofa       817
Airbed              604
Couch               295
100%                  8
81%                   2
Name: bed_type, dtype: int64

In [26]:
df.bathrooms.value_counts()

1.0                  52278
1.0                  32010
2.0                   8480
2.0                   5210
1.5                   3620
1.5                   2297
2.5                   2057
3.0                   1330
2.5                   1237
3.0                    826
3.5                    562
4.0                    347
3.5                    335
4.0                    204
0.5                    176
0.0                    171
0.0                    137
4.5                    100
0.5                     87
4.5                     77
5.0                     72
8.0                     49
5.5                     44
5.0                     38
6.0                     28
7.0                     27
5.5                     26
8.0                     23
6.5                     19
6.0                     16
7.0                      9
7.5                      8
6.5                      6
7.5                      4
15.0                     2
Mid-Wilshire             2
Downtown                 2
Del Rey                  2
Williamsburg             1
Oceanview                1
15.0                     1
15.5                     1
11.0                     1
17.0                     1
Long Beach               1
North Shoal Creek        1
Name: bathrooms, dtype: int64

In [27]:
# filter out wrong rows 
df[((df.bed_type=='81%') | (df.bed_type=='100%')) & (df.label=='train')]

,Unnamed: 0,access,accommodates,amenities,availability_30,availability_365,availability_60,availability_90,bathrooms,bed_type,...,phone,photographer,reviews,selfie,sent_id,sesame,sesame_offline,weibo,work_email,zhima_selfie
16245,16246,1,t,t,f,1,"Long Beach, California, United States",Manuel,Long Beach,100%,...,0,0,0,0,0,0,0,0,0,0
30583,30584,1,t,t,t,2,"Santa Monica, California, United States",Medi,Del Rey,100%,...,0,0,0,0,0,0,0,0,0,0
47614,47615,1,t,t,f,1,"New York, New York, United States",David,Williamsburg,100%,...,0,0,0,0,0,0,0,0,0,0
56280,56281,1,t,t,t,2,"Los Angeles, California, United States",Sharlette,Mid-Wilshire,100%,...,0,0,0,0,0,0,0,0,0,0
72539,72540,1,t,t,f,5,"Los Angeles, California, United States",Ryan,Downtown,81%,...,0,0,0,0,0,0,0,0,0,0
75207,75208,1,t,t,t,2,"Los Angeles, California, United States",Sharlette,Mid-Wilshire,100%,...,0,0,0,0,0,0,0,0,0,0
92584,92585,1,t,t,t,1,"Austin, Texas, United States",Amanda,North Shoal Creek,100%,...,0,0,0,0,0,0,0,0,0,0
96067,96068,1,t,t,f,1,"Los Angeles, California, United States",Moe,NaN,100%,...,0,0,0,0,0,0,0,0,0,0

In [28]:
# bathrooms: filter out worng rows
df[((df.bathrooms=='Del Ray') | (df.bathrooms=='Oceanview') | (df.bathrooms=='Downtown')) & (df.label=='train')]

,Unnamed: 0,access,accommodates,amenities,availability_30,availability_365,availability_60,availability_90,bathrooms,bed_type,...,phone,photographer,reviews,selfie,sent_id,sesame,sesame_offline,weibo,work_email,zhima_selfie
65791,65792,1,t,f,f,1,"San Francisco, California, United States",Winni,Oceanview,NaN,...,0,0,0,0,0,0,0,0,0,0
72539,72540,1,t,t,f,5,"Los Angeles, California, United States",Ryan,Downtown,81%,...,0,0,0,0,0,0,0,0,0,0

In [29]:
# filter out wrong rows in training set based on bed_type
wrong_index_train1=df[((df.bed_type=='81%') | (df.bed_type=='100%')) & (df.label=='train')].index

wrong_index_train1

Int64Index([16245, 30583, 47614, 56280, 72539, 75207, 92584, 96067], dtype='int64')

In [30]:
# Delete wrong rows 
df=df.drop(wrong_index_train1)

In [31]:
# filter out wrong rows in testing set based on bed_type
wrong_index_test=df[((df.bed_type=='81%') | (df.bed_type=='100%')) & (df.label=='test')].index

wrong_index_test

Int64Index([100774, 110273], dtype='int64')

In [32]:
# Delete wrong rows in test sets
df=df.drop(wrong_index_test)

In [33]:
# filter out wrong rows in training set based on bathrooms
wrong_index_train2=df[((df.bathrooms=='Del Ray') | (df.bathrooms=='Oceanview') | (df.bathrooms=='Downtown')) & (df.label=='train')].index

wrong_index_train2

Int64Index([65791], dtype='int64')

In [34]:
# Delete wrong rows 
df=df.drop(wrong_index_train2)

## bed_type

In [35]:
# bed_type: fill NA with most common class
df["bed_type"] = df["bed_type"].fillna('Real Bed')

## bathroom

In [36]:
#bedrooms and bathrooms: change all the datatypes in bathrooms&bedrooms to float and then fill in the NA with mode.
df.bathrooms=pd.to_numeric(df['bathrooms'],errors='coerce')
df.bedrooms=pd.to_numeric(df['bedrooms'],errors='coerce')

df['bedrooms'] = df['bedrooms'].fillna(df['bedrooms'].mode()[0])

df['bathrooms'] = df.groupby('bedrooms')['bathrooms'].transform(lambda x: x.fillna(x.mode()[0]))

## availability_30,availability_60,availability_90,availability_365
transform to numeric

In [37]:
# convert availability_30 60 90 365 to numeric
df.availability_30 = pd.to_numeric(df.availability_30)
df.availability_60 = pd.to_numeric(df.availability_60)
df.availability_90 = pd.to_numeric(df.availability_90)
df.availability_365 = pd.to_numeric(df.availability_365)

## security_deposit

In [38]:
# security deposit column: fill NA with 0,convert to numeric
df.security_deposit=df.security_deposit.str.lstrip('$')
df.security_deposit=df.security_deposit.str.replace(',','')
df["security_deposit"] = df["security_deposit"].fillna(0)
df["security_deposit"]=pd.to_numeric(df["security_deposit"])

## is_business_travel_ready

In [39]:
df.is_business_travel_ready.value_counts()

f    53691
t     8392
Name: is_business_travel_ready, dtype: int64

In [40]:
#is_business_travel column: fill NA with unknown
df.is_business_travel_ready=df.is_business_travel_ready.fillna('Unknown')
df.is_business_travel_ready.head()

0          t
1    Unknown
2    Unknown
3    Unknown
4          f
Name: is_business_travel_ready, dtype: object

## space

In [41]:
# space column: convert to 0-1 variable,1: has space description
df.space=df.space.fillna(0)
df.space[df.space!=0]=1

/Users/katie/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

## cleaning_fee

In [42]:
# security cleaning_fee column: fill NA with 0 
df.cleaning_fee=df.cleaning_fee.str.lstrip('$')
df.cleaning_fee=df.cleaning_fee.str.replace(',','')
df["cleaning_fee"] = df["cleaning_fee"].fillna(0)
df["cleaning_fee"]=pd.to_numeric(df["cleaning_fee"])
df["cleaning_fee"].head()

0    250.0
1      0.0
2     50.0
3     45.0
4     75.0
Name: cleaning_fee, dtype: float64

## host_response

In [43]:
# host_response: fill NA with column mean
df.host_response_rate=df.host_response_rate.str.rstrip('%')
df.host_response_rate=pd.to_numeric(df.host_response_rate)
df.host_response_rate=df.host_response_rate.fillna(df['host_response_rate'].mean())
df.host_response_rate.head()

0    100.00000
1     95.70455
2    100.00000
3    100.00000
4    100.00000
Name: host_response_rate, dtype: float64

## host_response_time

In [44]:
df['host_response_time'].value_counts()

within an hour        61498
within a few hours    19402
within a day          11948
a few days or more     1574
Name: host_response_time, dtype: int64

In [45]:
# host_response_time: fill NA and 'f'(wrong data) with most common class('within an hour)
df['host_response_time']=df['host_response_time'].fillna('within an hour')
df['host_response_time'][df['host_response_time']=='f']='within an hour'

/Users/katie/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

## host_identity_verified

In [46]:
#host_identity_verified column: fill NA with unknown
df.host_identity_verified=df.host_identity_verified.fillna('Unknown')

## host_listing_count

In [47]:
# hostlisting_count: convert to numeric, fill NA with most common number
df.host_listings_count
df.host_listings_count=pd.to_numeric(df.host_listings_count)
df.host_listings_count=df.host_listings_count.fillna(df['host_listings_count'].mode()[0])
df.host_listings_count.head()

0     1.0
1     1.0
2    14.0
3     1.0
4     1.0
Name: host_listings_count, dtype: float64

## host_is_superhost

In [48]:
# host_is_superhost column: fill NA with unknown
df.host_is_superhost=df.host_is_superhost.fillna('Unknown')

## neighborhood_overview

In [49]:
# neiborhood_overview column: convert to 0-1 variable,1: has overview
df['neighborhood_overview']=df.neighborhood_overview.fillna(0)
df['neighborhood_overview'][df.neighborhood_overview!=0]=1

/Users/katie/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

## maximum_nights, minimum_nights

In [50]:
# maximum nights and minimum nights: fill NA with most common number, convert to integer
df['maximum_nights'] = df['maximum_nights'].fillna(df['maximum_nights'].mode()[0]).astype(int)
df['minimum_nights'] = df['minimum_nights'].fillna(df['minimum_nights'].mode()[0]).astype(int)

## host_has_profile_pic

In [51]:
# host_has_profile_pic column: fill NA with unknown
df.host_has_profile_pic=df.host_has_profile_pic.fillna('Unknown')
df.host_has_profile_pic.head()

0    t
1    t
2    t
3    t
4    t
Name: host_has_profile_pic, dtype: object

## host_total_listings_count

In [52]:
# hostlisting_count: convert to numeric, fill NA with most common number
df.host_total_listings_count
df.host_total_listings_count=pd.to_numeric(df.host_listings_count)
df.host_total_listings_count=df.host_total_listings_count.fillna(df['host_total_listings_count'].mode()[0])
df.host_total_listings_count.head()

0     1.0
1     1.0
2    14.0
3     1.0
4     1.0
Name: host_total_listings_count, dtype: float64

# first_review

In [53]:
df.first_review.head()

df.first_review=((pd.to_datetime(df.first_review))-pd.to_datetime(df.host_since)).astype('timedelta64[D]')
df.first_review=df.first_review.fillna(0)

type(df.first_review[0])

numpy.float64

## host_since

In [54]:
df.host_since =(max(pd.to_datetime(df.host_since))-pd.to_datetime(df.host_since)).astype('timedelta64[D]')
df.host_since.head()
# host_response: fill NA with column median
df.host_since=df.host_since.fillna(df['host_since'].median())
df.host_since.head()

0     910.0
1     968.0
2    1685.0
3    1643.0
4     990.0
Name: host_since, dtype: float64

## beds

In [55]:
# beds: convert to numeric, fill NA with most common class
df.beds=pd.to_numeric(df.beds)
df['beds'] = df['beds'].fillna(df['beds'].mode()[0])
df.beds.head()

0    6.0
1    1.0
2    6.0
3    2.0
4    2.0
Name: beds, dtype: float64

## property_type

In [56]:
# property_type column: fill NA with unknown
df.property_type=df.property_type.fillna('Unknown')

## price

In [57]:
# price column: fill NA with 0,convert to numeric
df.price=df.price.str.lstrip('$')
df.price=df.price.str.replace(',','')
df["price"]=pd.to_numeric(df["price"])
df["price"] = df["price"].fillna(df.price.mean())

In [58]:
df.price.isnull().sum()

0

## requires_license

In [59]:
# requires_license column: fill NA with unknown
df.requires_license=df.requires_license.fillna('Unknown')

## require_guest_profile_picture

In [60]:
# require_guest_profile_picture column: fill NA with unknown
df.require_guest_profile_picture=df.require_guest_profile_picture.fillna('Unknown')

## room_type

In [61]:
# room_type column: fill NA with unknown
df.room_type=df.room_type.fillna('Unknown')

## instant_bookable

In [62]:
# instant_bookable column: fill NA with unknown
df.instant_bookable=df.instant_bookable.fillna('Unknown')

## require_guest_phone

In [63]:
# require_guest_phone_verification column: fill NA with unknown
df.require_guest_phone_verification=df.require_guest_phone_verification.fillna('Unknown')

## is_location_exact

In [64]:
# is_location_exact column: fill NA with unknown
df.is_location_exact=df.is_location_exact.fillna('Unknown')

## name

In [65]:
# name column: convert to 0-1 variable,1: has interaction 
df.name=df.name.fillna(0)
df.name[df.name!=0]=1

/Users/katie/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

## description

## logitude

In [66]:
# logitude: fill NA with the mean of the same city 
df["longitude"]=pd.to_numeric(df["longitude"],errors='coerce')
df["longitude"] = df.groupby('city_name')['longitude'].transform(
    lambda x: x.fillna(x.mean()))

## latitude

In [67]:
# latitude: fill NA with the mean of the same city 
df["latitude"]=pd.to_numeric(df["latitude"],errors='coerce')
df["latitude"] = df.groupby('city_name')['latitude'].transform(
    lambda x: x.fillna(x.mean()))

## state

In [68]:
df.state.value_counts()

NY                 36932
CA                 34554
TX                  5941
DC                  5563
LA                  4694
TN                  4557
IL                  4468
OR                  4187
MA                  3944
CO                  3392
WA                  3171
NC                   742
MD                    19
ca                     5
NJ                     2
ny                     2
Ca                     2
Baja California        1
il                     1
Ny                     1
secc Terrazas          1
New York               1
MP                     1
Name: state, dtype: int64

In [69]:
#state 
df['state'].loc[df[df.state=='secc Terrazas'].index]=df['state'].loc[df[df.state=='secc Terrazas'].index].replace('secc Terrazas','VA')
df['state'].loc[df[df.state=='MP'].index]=df['state'].loc[df[df.state=='MP'].index].replace('MP','NY')
df['state'].loc[df[df.state=='New York'].index]=df['state'].loc[df[df.state=='New York'].index].replace('New York','NY')
df['state'].loc[df[df.state=='Baja California'].index]=df['state'].loc[df[df.state=='Baja California'].index].replace('Baja California','CA')
df['state'].loc[[13583,  24316,  24639,  29878, 44689,  51370,  63485, 76217,  85310,92027,104585]]='CA'
df['state'].loc[[41930,101538]]='NY'
df['state'].loc[[90608,93914]]='TX'
df['state'].loc[[112095]]='CO'
df['state'] =df['state'].str.upper()

/Users/katie/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

## host_neighborhood, neiborhood, market

In [70]:
# host_neighborhood, neiborhood: remove - too many levels
# market: duplicate of city_name
df=df.drop(['square_feet','host_acceptance_rate','monthly_price','weekly_price','jurisdiction_names','host_neighbourhood','neighbourhood','zipcode','market','host_location','host_name','host_total_listings_count','city','smart_location','experiences_offered','street'],axis=1)

## extra_people

In [71]:
df.extra_people.head()

0     $0.00
1     $0.00
2     $0.00
3    $20.00
4    $50.00
Name: extra_people, dtype: object

In [72]:
# extra_people: remove $,
df.extra_people=df.extra_people.str.lstrip('$')
df.extra_people=df.extra_people.str.replace(',','')
df.extra_people=pd.to_numeric(df.extra_people)

df.extra_people.head()

0     0.0
1     0.0
2     0.0
3    20.0
4    50.0
Name: extra_people, dtype: float64

In [73]:
df.extra_people.head()

0     0.0
1     0.0
2     0.0
3    20.0
4    50.0
Name: extra_people, dtype: float64

# license

In [74]:
#license
df.license=df.license.fillna('no registration')
df.license = df["license"].astype(str).map(lambda license: license.lower())
df.license = df.license.apply(lambda x: 'Registration Pending' if 'pending' in x else ('No Registration' if 'no registration' in x else 'Registered'))
df.license.value_counts()

No Registration         96240
Registered               9942
Registration Pending     6015
Name: license, dtype: int64

## cancellation_policy, guests_included, accommodates

In [75]:
# accommodates column: inspect, nothing wrong
df.accommodates.value_counts()

# cancellation_policy column: inspect, nothing wrong
df.cancellation_policy.value_counts()

# guests_included column: inspect, nothing wrong
df.guests_included.value_counts()

1.0     69350
2.0     24557
4.0      8328
3.0      3243
6.0      2895
5.0      1365
8.0      1026
0.0       404
10.0      398
7.0       309
12.0      115
9.0        73
16.0       38
14.0       30
15.0       26
11.0       23
13.0       15
20.0        1
18.0        1
Name: guests_included, dtype: int64

In [76]:
df = df.drop(['amenities','host_verifications'],axis=1)

In [77]:
df = df.drop(['Unnamed: 0'],axis=1)

In [78]:
df.shape

(112197, 262)

In [79]:
df.isnull().sum().sort_values(ascending=False)

zhima_selfie                     0
elevator in building             0
dvd player                       0
dryer                            0
double oven                      0
doorman entry                    0
doorman                          0
dog(s)                           0
dishwasher                       0
dishes and silverware            0
disabled parking spot            0
day bed                          0
crib                             0
cooking basics                   0
convection oven                  0
coffee maker                     0
cleaning before checkout         0
children’s dinnerware            0
children’s books and toys        0
changing table                   0
central air conditioning         0
ceiling fan                      0
cat(s)                           0
carbon monoxide detector         0
cable tv                         0
buzzer/wireless intercom         0
breakfast table                  0
breakfast                        0
bidet                            0
bed linens                       0
                                ..
pool                             0
shampoo                          0
self check-in                    0
safety card                      0
room-darkening shades            0
roll-in shower with chair        0
refrigerator                     0
rain shower                      0
projector and screen             0
private living room              0
private hot tub                  0
private entrance                 0
private bathroom                 0
printer                          0
pocket wifi                      0
other                            0
pillow-top mattress              0
pets live on this property       0
pets allowed                     0
patio or balcony                 0
path to entrance lit at night    0
paid parking on premises         0
paid parking off premises        0
pack ’n play/travel crib         0
oven                             0
outlet covers                    0
outdoor seating                  0
outdoor parking                  0
other pet(s)                     0
access                           0
Length: 262, dtype: int64

In [80]:
wrong_index_train1

Int64Index([16245, 30583, 47614, 56280, 72539, 75207, 92584, 96067], dtype='int64')

In [81]:
wrong_index_train2

Int64Index([65791], dtype='int64')

In [82]:
wrong_index_test

Int64Index([100774, 110273], dtype='int64')

In [83]:
# in training_y, there're observations that're null
null_training_y=training_y[training_y.high_booking_rate.isnull()].index

null_training_y

Int64Index([13583, 16245, 24316, 29878, 30583, 44689, 47614, 51370, 56280,
            63485, 65791, 72539, 75207, 76217, 85310, 90608, 92027, 92584,
            96067],
           dtype='int64')

In [84]:
df=df.drop(null_training_y,errors='ignore')

In [85]:
df.columns = df.columns.str.replace(' ', '_') 
df.columns = df.columns.str.replace(',', '_') 
df.columns = df.columns.str.replace('/', '_') 
df.columns = df.columns.str.replace('-', '_') 
df.columns = df.columns.str.replace('’', '') 
df.columns = df.columns.str.replace('(', '') 
df.columns = df.columns.str.replace(')', '') 
df.columns = df.columns.str.replace('/', '_') 
df.columns = df.columns.str.replace('_&_', '_') 
df.columns = df.columns.str.replace('___', '_')
col_name = list(df.columns.values)
col_name

['access',
 'accommodates',
 'availability_30',
 'availability_365',
 'availability_60',
 'availability_90',
 'bathrooms',
 'bed_type',
 'bedrooms',
 'beds',
 'cancellation_policy',
 'city_name',
 'cleaning_fee',
 'country',
 'country_code',
 'description',
 'extra_people',
 'first_review',
 'guests_included',
 'host_about',
 'host_has_profile_pic',
 'host_identity_verified',
 'host_is_superhost',
 'host_listings_count',
 'host_response_rate',
 'host_response_time',
 'host_since',
 'house_rules',
 'instant_bookable',
 'interaction',
 'is_business_travel_ready',
 'is_location_exact',
 'latitude',
 'license',
 'longitude',
 'maximum_nights',
 'minimum_nights',
 'name',
 'neighborhood_overview',
 'notes',
 'price',
 'property_type',
 'require_guest_phone_verification',
 'require_guest_profile_picture',
 'requires_license',
 'room_type',
 'security_deposit',
 'space',
 'state',
 'summary',
 'transit',
 'label',
 '24_hour_check_in',
 'accessible_height_bed',
 'accessible_height_toilet',
 'air_conditioning',
 'air_purifier',
 'amazon_echo',
 'baby_bath',
 'baby_monitor',
 'babysitter_recommendations',
 'balcony',
 'bathtub',
 'bathtub_with_shower_chair',
 'bbq_grill',
 'beach_essentials',
 'beach_view',
 'beachfront',
 'bed_linens',
 'bidet',
 'breakfast',
 'breakfast_table',
 'buzzer_wireless_intercom',
 'cable_tv',
 'carbon_monoxide_detector',
 'cats',
 'ceiling_fan',
 'central_air_conditioning',
 'changing_table',
 'childrens_books_and_toys',
 'childrens_dinnerware',
 'cleaning_before_checkout',
 'coffee_maker',
 'convection_oven',
 'cooking_basics',
 'crib',
 'day_bed',
 'disabled_parking_spot',
 'dishes_and_silverware',
 'dishwasher',
 'dogs',
 'doorman',
 'doorman_entry',
 'double_oven',
 'dryer',
 'dvd_player',
 'elevator',
 'elevator_in_building',
 'en_suite_bathroom',
 'espresso_machine',
 'essentials',
 'ethernet_connection',
 'ev_charger',
 'exercise_equipment',
 'extra_pillows_and_blankets',
 'family_kid_friendly',
 'fax_machine',
 'fire_extinguisher',
 'fire_pit',
 'fireplace_guards',
 'firm_matress',
 'firm_mattress',
 'first_aid_kit',
 'fixed_grab_bars_for_shower',
 'fixed_grab_bars_for_shower_toilet',
 'flat',
 'flat_path_to_front_door',
 'flat_smooth_pathway_to_front_door',
 'formal_dining_area',
 'free_parking_on_premises',
 'free_parking_on_street',
 'free_street_parking',
 'front_desk_doorperson',
 'full_kitchen',
 'game_console',
 'garden_or_backyard',
 'gas_oven',
 'grab_rails_for_shower_and_toilet',
 'ground_floor_access',
 'gym',
 'hair_dryer',
 'hammock',
 'handheld_shower_head',
 'hangers',
 'hbo_go',
 'heat_lamps',
 'heated_floors',
 'heated_towel_rack',
 'heating',
 'high_chair',
 'high_resolution_computer_monitor',
 'host_greets_you',
 'hot_tub',
 'hot_water',
 'hot_water_kettle',
 'indoor_fireplace',
 'internet',
 'iron',
 'jetted_tub',
 'keypad',
 'kitchen',
 'kitchenette',
 'lake_access',
 'laptop_friendly_workspace',
 'lock_on_bedroom_door',
 'lockbox',
 'long_term_stays_allowed',
 'luggage_dropoff_allowed',
 'memory_foam_mattress',
 'microwave',
 'mini_fridge',
 'mountain_view',
 'mudroom',
 'murphy_bed',
 'netflix',
 'other',
 'other_pets',
 'outdoor_parking',
 'outdoor_seating',
 'outlet_covers',
 'oven',
 'pack_n_play_travel_crib',
 'paid_parking_off_premises',
 'paid_parking_on_premises',
 'path_to_entrance_lit_at_night',
 'patio_or_balcony',
 'pets_allowed',
 'pets_live_on_this_property',
 'pillow_top_mattress',
 'pocket_wifi',
 'pool',
 'printer',
 'private_bathroom',
 'private_entrance',
 'private_hot_tub',
 'private_living_room',
 'projector_and_screen',
 'rain_shower',
 'refrigerator',
 'roll_in_shower_with_chair',
 'room_darkening_shades',
 'safety_card',
 'self_check_in',
 'shampoo',
 'shared_gym',
 'shared_hot_tub',
 'shared_pool',
 'single_level_home',
 'ski_in_ski_out',
 'smart_lock',
 'smart_tv',
 'smartlock',
 'smoke_detector',
 'smoking_allowed',
 'smooth_pathway_to_front_door',
 'soaking_tub',
 'sound_system',
 'stair_gates',
 'stand_alone_steam_shower',
 'standing_valet',
 'step_free_access',
 'stove',
 'suitable_for_events',
 'sun_loungers',
 'table_corner_guards',
 'tennis_court',
 'terrace',
 'toilet',
 'touchless_faucets',
 'tv',
 'walk_in_shower',
 'warming_drawer',
 'washer',
 'washer_dryer',
 'waterfront',
 'well_lit_path_to_entrance',
 'wheelchair_accessible',
 'wide_clearance_to_bed',
 'wide_clearance_to_shower',
 'wide_clearance_to_shower_toilet',
 'wide_clearance_to_shower_and_toilet',
 'wide_doorway',
 'wide_entryway',
 'wide_hallway_clearance',
 'wifi',
 'window_guards',
 'wine_cooler',
 'wireless_internet',
 '',
 '0',
 'amex',
 'email',
 'facebook',
 'google',
 'government_id',
 'identity_manual',
 'jumio',
 'kba',
 'linkedin',
 'manual_offline',
 'manual_online',
 'offline_government_id',
 'phone',
 'photographer',
 'reviews',
 'selfie',
 'sent_id',
 'sesame',
 'sesame_offline',
 'weibo',
 'work_email',
 'zhima_selfie']

# Write to CSV file--all training x

In [86]:
df.to_csv('trainx_all_0503.csv',encoding='utf-8')

In [87]:
training_y_cleaned=training_y.drop(null_training_y)
training_y_cleaned=training_y_cleaned.drop(wrong_index_train1,errors='ignore')
training_y_cleaned=training_y_cleaned.drop(wrong_index_train2,errors='ignore')

# Write to CSV file--cleaned training y

In [88]:
training_y_cleaned.to_csv('trainy_clean_0503.csv',encoding='utf-8')

In [89]:
len(df[df.label=='train'])

99981

In [90]:
len(training_y_cleaned)

99981

In [91]:
len(df[df.label=='test'])

12206

# mannually edit csv file
1. drop unnammed two columns